/* Reset e tela cheia */
html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--branco);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

:root {
  --azul-claro: #3adbde;
  --azul: #1325b4;
  --laranja: #ff751f;
  --vermelho: #eb4635;
  --branco: #d9d9d9;
}

.form-input:focus,
.form-input:active {
  outline: none;
}

input::-ms-reveal {
  display: none;
}

.dashboard-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
}

.dashboard-container {
  position: relative;
  height: 100vh;
  width: 600px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.13);
}

.map {
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 20px;
}

.search-container {
  position: absolute;

  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.search-box {
  border-radius: 15px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 100%;
  height: 30px;
  background: var(--branco);
  border: 1px solid var(--azul-claro);
  color: #333;
  height: 33px;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

.alerts {
  position: absolute;
  top: 127px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 10;
}

.alert-card {
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.alert-card.obra {
  background: #fef2f2;
  color: var(--laranja);
  border: 1px solid var(--vermelho);
}

.alert-card.evento {
  background: #f0fdf4e5;
  color: var(--azul-claro);
  border: 1px solid var(--azul);
}

.routes-card {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 270px;
  color: #333;
  background: #d9d9d9af;
  border-radius: 20px;
  padding: 4px 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.routes-card h3 {
  font-size: 16px;
  margin-top: 2px;
  color: var(--azul);
}

.route-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f8fab0;
  border-radius: 12px;
  padding-left: 10px;
  margin-top: 7px;
}

.route-item .title {
  font-weight: 600;
  font-size: 14px;
}

.route-item span {
  font-size: 12px;
  color: #666;
 
}

.route-item .tag {
  padding: 3px 8px;
  border-radius: 8px;
  font-size: 13px;
}

.route-item.segura .tag {
  background: #eaf9efc7;
  color: var(--azul);
}

.route-item.rapida .tag {
  background: #fff0e5c7;
  color: var(--laranja);
}

.route-item.alternativa .tag {
  background: #edf7ffc7;
  color: var(--azul-claro);
}

.bottom-bar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  background: white;
  border-radius: 50px;
  width: 85%;
  padding: 8px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.icon-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.icon-btn.alerta {
  background: #ff4343;
  color: white;
  padding: 8px 14px;
  border-radius: 50%;
}
